<h1>Результат обробки</h1>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Первісна назва</th>
      <th>Результат обробки</th>
      <th>Посилання</th>
      <th>Висновок</th>
    </tr>
  </thead>
  <tbody>
    <% @biblios.split.each_with_index do |biblio, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= biblio.original_text %></td>
        <td><%= biblio.name || '-' %></td>
        <td class="longLink">
          <% if biblio.name.blank? %>
            -
          <% else %>
            <%= link_to nil, biblio.link, target: '_blank' %>
          <% end %>
        </td>
        <td>
          <span class="<%= alert_class(biblio.original_text, biblio.name)%> label">
            <%= alert_text(biblio.original_text, biblio.name) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
