<h1>Результат обробки</h1>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Первісна назва</th>
      <th>Результат обробки</th>
      <th>Посилання</th>
      <th>Висновок</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><%= @biblio.text %></td>
      <td><%= @bibliography.name %></td>
      <td class="longLink">
        <%= link_to nil, @bibliography.link, target: '_blank' %>    
      </td>
      <td>
        <span class="<%= alert_class(@biblio.text, @bibliography.name)%> label">
          <%= alert_text(@biblio.text, @bibliography.name) %>
        </span>
      </td>
    </tr>
  </tbody>
</table>
